/*reseteo del css: reseteo los estilos del navegador cuando pongo un asterisco, anulo todos los efectos que tiene por default*/
/*
*{
margin: 0;
padding: 0;
}
a partir de ahora tengo todo el control de los margenes y padding que este escribiendo*/

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; /*16 es el default*/
}
/*llamo a la clase:*/

.header{
background: rgb(214, 184, 214);
color: white;
height: 80px;
margin-bottom: 10px;
margin-left: auto; /*el navegador va a calcular mas o menos cuanto le va a dar seugn las otras medidas y propiedades que le paso a ese elemento*/
margin-right: auto;
}
.logo{
    text-transform: uppercase; /*todas en mayuscula*/

}

/*otra forma de dar estilos*/
.logo a{
/*apunto a las a que son hijos de la clase logo, por eso se llama hojas en cascada porque puedo ir bajando por la jerarquia aplicando estilos*/
    color: white;
    text-decoration: none;
}
.navbar{
    background: rgb(13,6,117);
    color: white;
    width: 85vw; 
    /* view w... altura, toma el 85% de la pantalla*/
    margin-left: auto;
    margin-right: auto;
}
.navbar ul{ /*hijos ul de la clase navbar*/
    list-style: none; /*sacar los puntitos negros items*/
    text-align: center;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    }

.navbar ul li a:hover{
background: white;
color: rgb(13,6,117);
}

.banner-top{
    padding: 20px;
    display: flex; /*forma de acomodar rapidamente nuestras etiqeutas como querramos ubicarlas para no estar manteniendo tantos px. Forma de acomodar rapida*/
    justify-content: center;
    }

#contenedor{
    width: 90%; /*Ancho*/
    margin: 0, auto;
    display: flex; /*el contenedor padre debe tener el display flex, si se lo pongo a un article no todos tendran el mismo tamaño*/
    justify-content: space-around; /*espacio alrededor entre cada uno de los elementos*/
        }
.body{
    background-color: rgb(233, 228, 227);
    }
#contenedor img{
    width: 100%;
}
.primero{
    padding: 2%;
    }
.segundo{
   padding: 2%;
    }
.tercero{
    padding: 2%;
    }
.footer{
    margin-top: 25px;
    background-color: rgb(183, 144, 187);
    display: flex;
    justify-content: space-around;
}
.footer ul{
    list-style: none;
}
.data{
    background-color: rgb(192, 192, 192);
    color: black;
    list-style: none;

    }
.map{
    width: 60%;
    margin-top: 10px;
}

@media screen and (min-width: 660px) and (max-width: 989px){

    .body{
        background: yellow;
    }

    .logo{
        width: 100%;
        text-align: center;
    }

    .banner-top{
        display: none;
    }

    .primero{
        width: 100%;
    }

    .primero figure{
        height: 300px;
        overflow: hidden;
    }

    .segundo{
        width: 50%; 
    }

    .tercero{
        width: 50%; 
    }

}
@media screen and (min-width: 990px) and (max-width: 1900px) /*seria para una notebook aprox,algun desktop, ese 1px para 990 es el que marca cuando se cambia a este dispositivo*/ {

    .body{
        background: rgb(42, 170, 221);
        /*se pone el fondo azul cuando llega a esas dimensiones la pantalla*/
    }

    /*media quieris de Bootstrap*/

//* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
}

//* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

}